{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">My Profile</h1>
        </div>
        {% for pro in profile %}
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800">
            first name: {{ pro.first_name }} <br>
            email: {{ request.user }} <br>
            last name: {{ pro.last_name }}<br>
            mobile number: {{ pro.mobile_number }}<br>
            citizenship number: {{ pro.citizenship_number }}<br>
            citizenship front:<br>
            <img src="{{ pro.citizenship_front.url }}" height="200" width="400"><br>
            citizenship back:<br>
            <img src="{{ pro.citizenship_back.url }}" height="200" width="400"><br>
            Temporary Address: {{ pro.temp_add }}<br>
            Permanent Address: {{ pro.per_add }} <br>
            {% if pro.is_verified %}
                Your Profile is verified
            {% else %}
                Your profile is not verified
            {% endif %}
            </h1>
        </div>
        {% endfor %}

    </div>

{% endblock %}